body {
    box-sizing: border-box;
    margin-top: 15px;
}

h1 {
    text-align: center;
    font-size: 32px;
    text-decoration:underline;
    text-decoration-color: #abdbd6;
}

table {
    margin: auto;
    width: 40%;
    min-width: 650px;
    height: 85%;
    text-align: center;
    border: solid black 2px;
}



table, td{
    border-collapse: collapse;
    padding: 10;
}

td {
    border: solid grey 1px;
}

td:hover {
    background-color: #c4f5f0;
}

.limitador {
    border-right: solid black 2px;
}

.limitadorFilas {
    border-bottom: solid black 2px;
}

@media only screen and (max-width: 768px) {
    table {
        min-width: 650px;
    }

}




